<ion-grid >
  <ion-row  >
    <ion-col size="auto" class="ion-text-center">
      <ion-button  color="secondary" size="large">
        <ion-grid>
          <ion-row >
            <ion-col>
              <ion-img src="https://picsum.photos/80/80?random=5" />
            </ion-col>
            <ion-col >Gastitos</ion-col>
            <ion-col>
              <ion-img src="assets/img/avanzar.png" />
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-button>
      <ion-button  color="secondary" size="large">
        <ion-grid>
          <ion-row >
            <ion-col>
              <ion-img src="https://picsum.photos/80/80?random=2" />
            </ion-col>
            <ion-col >Gastitos</ion-col>
            <ion-col>
              <ion-img src="assets/img/avanzar.png" />
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-button>
      <ion-button  color="secondary" size="large">
        <ion-grid>
          <ion-row >
            <ion-col>
              <ion-img src="https://picsum.photos/80/80?random=3" />
            </ion-col>
            <ion-col >Gastitos</ion-col>
            <ion-col>
              <ion-img src="assets/img/avanzar.png" />
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-button>
      <ion-button size="small">
        <ion-img src="https://picsum.photos/80/80?random=3" />
      </ion-button>

    </ion-col>


  </ion-row>
</ion-grid>
